# Ignore Python virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Local SQLite (recreated on run)
instance/*.db

# Logs and OS noise
*.log
.DS_Store

# Ignore temporary Claude AI files
tmpclaude-*